<footer class="footer-mob padding-for-fixed-btn">
    <div class="content-mob">
        <p class="title-mob">Нашли дешевле?</p>
        <p>Если Вы нашли цену ниже на аналогичную позицию в другой компании, то у нас Вы можете купить эту же мебель по цене ниже от заявленной конкурентом</p>
    </div>
    <div class="girl-block">
        <div class="content-mob">
            <p>8 (800) 800 80 80</p>
            <p>Звоните и получайте <br>персональную скидку</p>
            <img class="footer-girl" src="../../build/img/footer-girl.png" alt="girl">
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-content">
            <p>© 2018 «Шкафы & Купе 77»</p>
            <p>Сделано в <a href="https://simplexx.agency/">Simplexx.Agency</a></p>
        </div>
    </div>
</footer>
