<section class="catalog">
    <div class="content">
        <div class="catalog-head">
            <p class="title">Каталог</p>
            <div class="filters-btn-wrp">
                <div class="filter-btn ready-our-work active">Готовые решения</div>
                <div class="filter-btn our-work">Наши работы</div>
            </div>
            <div class="select-box select-box-show">
                <p class="property">Показать:  </p>
                <select class="select-sort" name="">
                    <option>Все</option>
                    <option>Шкафы-купе</option>
                    <option>Кухни</option>
                </select>
            </div>
            <div class="select-box select-box-sort">
                <p class="property">Сортировка:  </p>
                <select class="select-sort" name="">
                    <option>От дешевых к дорогим</option>
                    <option>От дорогих к дешевым</option>
                </select>
            </div>
        </div>
    <!-- NEW CATALOG SLIDER   -->
        <div class="catalog-items-wrp-slider swiper-items-wrp">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="items-wrp">
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">182 200 р.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="items-wrp">
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">182 200 р.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="items-wrp">
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">18 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Валенсия»</p>
                                    <p class="item-price">22 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Шкаф-купе «Анигиляция»</p>
                                    <p class="item-price">8 200 р.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-img-block">
                                    <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                                    <div class="hover-layer">
                                        <p>Посмотреть</p>
                                    </div>
                                </div>
                                <div class="item-text-block">
                                    <p class="item-name">Кухня «Мадрид»</p>
                                    <p class="item-price">182 200 р.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-arrows-wrp-flex">
                    <!-- Add Pagination -->
                    <div class="pagination-arrows-wrp">
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-next-items"></div>
                        <div class="swiper-button-prev swiper-button-prev-items"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
