<section class="catalog-mob">
    <div class="content-mob">
        <p class="catalog-title">Каталог</p>
        <div class="filters-btn-wrp">
            <div class="filter-btn ready-our-work active"><span>Готовые <br> решения</span></div>
            <div class="filter-btn our-work"><span>Наши работы</span></div>
        </div>
    </div>
    <div class="swiper-items-wrp">
        <div class="content-mob">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="catalog-items-wrp">
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="catalog-items-wrp">
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                            <div class="catalog-item">
                                <img src="../../build/img/mobile/item-mob-slide-1.png" alt="Кухня">
                                <div class="catalog-item-text-block">
                                    <p class="name"><span>Кухня «Валенсия»</span></p>
                                    <p class="price">22 200 p</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="nav-block">
            <div class="swiper-button-prev swiper-button-prev-items"><p>Назад</p></div>
            <div class="swiper-button-next swiper-button-next-items"><p>Вперед</p></div>
        </div>
    </div>
    <div class="sort-filter-fixed-btn-wrp">
        <div class="sort-open-btn">
            <p>Сортировка</p>
        </div>
        <div class="filter-open-btn">
            <p>Фильтр</p>
        </div>
    </div>
</section>
