<section class="celebrate">
    <div class="celebrate-overlay"></div>
    <div class="celebrate-block">
        <p class="title">Поздравляем!</p>
        <p class="text">Вы стали 100 посетителем сайта <span>shkafikuhni77.ru</span> <br> Назовите данный промо код менеджеру <br>и получите дополнительную скидку</p>
        <div class="promo-code-wrp">
            <p>Промокод:</p>
            <div class="promo-code">
                <span>2105</span>
            </div>
        </div>
        <p class="remain">Боитесь забыть промокод? Звоните прямо сейчас</p>
        <p class="phone">8 (800) 800 80 80</p>
        <div class="btn-close-pop-up gold-gradient"></div>
    </div>
</section>
