<section class="about-mob">
    <div class="content-mob">
        <div class="first-block-mob">
            <h1>О компании</h1>
            <p>Группа компаний «КАОНСНАБ» 5 лет специализируется на изготовлении корпусной мебели НА ЗАКАЗ. Мебель НА ЗАКАЗ — это мебель по&nbsp;индивидуальным размерам, по&nbsp;индивидуальным проектам, идеально впишется в любую комнату, офис, торговый зал и в любой интерьер, это возможность для клиента выбора материала и цвета.</p>
            <p>Мебель к клиенту мы поставляем со&nbsp;своего производства, что существенно уменьшает стоимость. Используем новейшее оборудование и&nbsp;квалифицированных специалистов, что гарантирует Вам качество и&nbsp;надежность корпусной мебели.</p>
        </div>
    </div>
    <div class="we-work-mob">
        <div class="content-mob">
            <p class="title">Как мы работаем</p>
        </div>
        <div class="swiper-work-block">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Звонок менеджеру</p>
                                <p class="text">Позвоните менеджеру или закажите обратный звонок на сайте, договоритесь о времени замера удобного для вас</p>
                                <p class="btn-open-consult-mob btn-consultation">Заказать звонок</p>
                            </div>
                            <div class="rhombus">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Замер</p>
                                <p class="text">Бесплатно к вам выедет дизайнер, выполнит точный замер и&nbsp;проконсультирует о&nbsp;дизайне</p>
                            </div>
                            <div class="rhombus">
                                <p>02</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Эскиз</p>
                                <p class="text">Отрисовка по вашим размерам эскиза и его утверждение</p>
                            </div>
                            <div class="rhombus">
                                <p>03</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Расчет</p>
                                <p class="text">Расчет заказа, предоплата, составление договора</p>
                            </div>
                            <div class="rhombus">
                                <p>04</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Производство</p>
                                <p class="text">Используем только современное оборудование и качественные материалы</p>
                            </div>
                            <div class="rhombus">
                                <p>05</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Доставка</p>
                                <p class="text">Доставка и подъем на этаж</p>
                            </div>
                            <div class="rhombus">
                                <p>06</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Установка</p>
                                <p class="text">Аккуратно и качественно установим, уберем за собой мусор</p>
                            </div>
                            <div class="rhombus">
                                <p>07</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Оплата</p>
                                <p class="text">Доплата оставшейся суммы по&nbsp;договору</p>
                            </div>
                            <div class="rhombus">
                                <p>08</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Гарантия</p>
                                <p class="text">Бесплатно предоставляется наша гарантия на 24 месяца</p>
                            </div>
                            <div class="rhombus">
                                <p>09</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-text-next"></div>
            <div class="swiper-button-prev btn-mob-text-prev"></div>
        </div>
    </div>
    <div class="profitable-mob">
        <div class="content-mob">
            <p class="title">Почему с нами выгодно работать</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="reasons-wrp">
                <div class="reason-block">
                    <div class="sprite sprite-cogwheel"></div>
                    <p>Собственное производство</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-check"></div>
                    <p>Контроль качества <br> всей продукции</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-money"></div>
                    <p>На 30% дешевле <br> чем у конкурентов</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-quality"></div>
                    <p>Гарантия 24 месяца <br> на всю продукцию</p>
                </div>
                <div class="reason-block sprite-clock">
                    <div class="sprite sprite-clock"></div>
                    <p>Работаем 24/7 <br> без выходных</p>
                </div>
            </div>
        </div>
    </div>
    <div class="review-mob-block">
        <div class="content-mob">
            <p class="title">Отзывы наших клиентов</p>
            <div class="swiper-review-mob-wrp">
                <div class="swiper-review-mob">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-hat">
                                    <div class="hat-text">
                                        <p class="title-swiper">Романов Дмитрий</p>
                                        <p class="price-swiper">Шкаф-купе «Маного», 9 500 руб</p>
                                    </div>
                                </div>
                                <p class="swiper-text">Сделали работу по моему эскизу, под мой бюджет подобрали фурнитуру и бесплатно провели доставку и монтаж. Что тут еще сказать :) Особенно спасибо за качественную резку материалов — нет сколов, клея или еще чего-то и за то, что убрали за собой все.</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-hat">
                                    <div class="hat-text">
                                        <p class="title-swiper">Britney Spears</p>
                                        <p class="price-swiper">Шкаф-купе «Маного», 9 500 руб</p>
                                    </div>
                                </div>
                                <p class="swiper-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iusto nihil perspiciatis in sint inventore reprehenderit! Alias suscipit tempore ipsa, quas error, voluptate quo explicabo numquam ratione voluptatum labore voluptatem sint natus possimus illo. Aliquid!</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-hat">
                                    <div class="hat-text">
                                        <p class="title-swiper">Dr. Holms</p>
                                        <p class="price-swiper">Шкаф-купе «Маного», 9 500 руб</p>
                                    </div>
                                </div>
                                <p class="swiper-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова которое переулка приставка рыбного сих, коварный города до вскоре своего путь свой решила заглавных.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next btn-mob-review-next"></div>
                <div class="swiper-button-prev btn-mob-review-prev"></div>
            </div>
        </div>
    </div>
    <div class="our-partners-mob">
        <div class="content-mob">
            <p class="title">Наши партнеры</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="swiper-partners-mob">
                <div class="swiper-container swiper-container-partners-mob">
                    <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <img src="../../build/img/about/agt.png" alt="logo agt">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/blum.png" alt="logo Blum">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/dollken.png" alt="logo Dollken">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/egger.png" alt="logo egger">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/agt.png" alt="logo agt">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/blum.png" alt="logo Blum">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/dollken.png" alt="logo Dollken">
                          </div>
                          <div class="swiper-slide">
                              <img src="../../build/img/about/egger.png" alt="logo egger">
                          </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next btn-mob-partners-next"></div>
                <div class="swiper-button-prev btn-mob-partners-prev"></div>
            </div>
        </div>
    </div>
    <div class="our-works-mob">
        <div class="content-mob">
            <p class="title">Наши работы</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
        </div>
        <div class="swiper-items-block">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-1.png" alt="">
                        <div class="slider-text-block">
                            <p class="name">Кухня «Валенсия»</p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-2.png" alt="">
                        <div class="slider-text-block">
                            <p class="name">Шкаф-купе «Манго»</p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-items-next"></div>
            <div class="swiper-button-prev btn-mob-items-prev"></div>
        </div>
        <a href="#" class="show-all-btn">Смотреть все работы</a>
    </div>
</section>
