<div class="menu-mob gold-gradient">
    <div class="list-block">
        <ul class="menu-list">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Мебельные решения</a></li>
            <li><a href="#">О Компании</a></li>
            <li><a href="#">Наши работы</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="current-page-title-block">
        <p class="current-page-title"><span>Главная</span></p>
    </div>
    <div class="btn-close-menu-mob"></div>
</div>
  
