<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="../../build/css/bootstrap.css">
  <link rel="stylesheet" href="../../build/css/swiper.css">
  <link rel="stylesheet" href="../../build/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../build/libs/countdown/jquery.countdown.css">
  <link rel="stylesheet" href="../../build/libs/selectize/selectize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="../../build/css/style.css">
</head>
<body>
    <div class="app">
        <div class="collector-overlay-wrapper">
            <div class="overlay-pop-up"></div>
            <!-- FileInjector:collector -->
        </div>
        <div class="desctop">
            <div class="celebrate-wrp">
                <!-- FileInjector:celebrate -->
            </div>
            <div class="desctop-content-wrp">
                <div class="menu-wrapper">
                    <!-- FileInjector:menu -->
                </div>
                <div class="header-wrapper">
                    <!-- FileInjector:header -->
                </div>

                <div class="pages-wrapper">
                    <!-- FileInjector:pagesContent -->
                    <div class="overlay-dark"></div>
                </div>
                <div class="footer-wrapper">
                    <!-- FileInjector:footer -->
                </div>
                <div class="pop-up-overlay-wrapper">
                    <div class="overlay-pop-up"></div>
                    <!-- FileInjector:popUp -->
                </div>
            </div>
        </div>
        <div class="mobile">
            <div class="menu-wrapper">
                <!-- FileInjector:menuMob -->
            </div>
            <div class="header-wrapper">
                <!-- FileInjector:headerMob -->
            </div>
            <div class="pages-wrapper">
                <!-- FileInjector:pagesContentMob -->
            </div>
            <div class="footer-wrapper">
                <!-- FileInjector:footerMob -->
            </div>
            <div class="pop-up-overlay-wrapper">
                <div class="overlay-pop-up"></div>
                <!-- FileInjector:popUpMob -->
            </div>

        </div>
        <section class="mobi-rotate">
            <p>Переверните телефон в вертикальное положение</p>
        </section>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../build/js/swiper.min.js"></script>
    <script src="../../build/js/bootstrap.min.js"></script>
    <script src="../../build/libs/countdown/jquery.plugin.js"></script>
    <script src="../../build/libs/countdown/jquery.countdown.js"></script>
    <script src="../../build/libs/jquery.maskedinput.min.js"></script>
    <script src="../../build/libs/selectize/selectize.min.js"></script>
    <script src="../../build/libs/selectize/selectize.js"></script>
    <script src="../../build/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
    <script src="../../build/js/collector.js"></script>
    <script src="../../build/js/main.js"></script>
</body>
</html>
