<section class="main-mob">
    <div class="content-mob">
        <div class="first-screen-mob">
            <div class="first-content-wrp">
                <h1>Шкафы и кухни на&nbsp;заказ</h1>
                <p>Работаем без посредников с ценами<br>на 30% ниже, чем у конкурентов</p>
                <div class="btn-open-calc btn-open-consult-mob btn-standart gold-gradient">Заказать индивидуальный замер</div>
            </div>
        </div>
    </div>
    <div class="swiper-first-block-mob">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../build/img/swiper/img-1.png" alt="">
                    <div class="slider-text-block-wrp">
                        <div class="slider-text-block">
                            <div class="prgrph-wrp">
                                <p>Цена у конкурента:</p>
                                <p class="other-price">
                                    <span>143 000 р.</span>
                                </p>
                            </div>
                            <div class="prgrph-wrp">
                                <p class="slider-text">Наша цена:</p>
                                <p class="our-price">
                                    <span>97 700 р.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../build/img/swiper/img-2.png" alt="">
                    <div class="slider-text-block-wrp">
                        <div class="slider-text-block">
                            <div class="prgrph-wrp">
                                <p>Цена у конкурента:</p>
                                <p class="other-price">
                                    <span>12 200 р.</span>
                                </p>
                            </div>
                            <div class="prgrph-wrp">
                                <p class="slider-text">Наша цена:</p>
                                <p class="our-price">
                                    <span>8 200 р.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-next"></div>
            <div class="swiper-button-prev btn-mob-prev"></div>
        </div>
    </div>
    <div class="countdown-block-mob">
        <div class="content-mob">
            <p class="title">Получите бесплатную <br> доставку и монтаж</p>
            <p>Заполните заявку сейчас и ожидайте звонка менеджера. Он зафиксирует данную акцию за Вами</p>
            <p class="countdown-title">Предложение действует</p>
            <div class="countdown"></div>
        </div>
    </div>
    <div class="form-girl-block-mob">
        <div class="form-block">
            <form action="" class="order-form">
                <p class="form-subitle">Как Вас зовут?</p>
                <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                <p class="form-subitle">Номер телефона</p>
                <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
            </form>
            <p class="warning">Нажимая кнопку «Отправить», я даю согласие <br>на <a href="#">обработку своих персональных данных</a></p>
        </div>
    </div>
    <div class="our-works-mob">
        <div class="content-mob">
            <p class="title">Наши работы</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
        </div>
        <div class="swiper-items-block">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-1.png" alt="">
                        <div class="slider-text-block">
                            <p class="name">Кухня «Валенсия»</p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-2.png" alt="">
                        <div class="slider-text-block">
                            <p class="name">Шкаф-купе «Манго»</p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-items-next"></div>
            <div class="swiper-button-prev btn-mob-items-prev"></div>
        </div>
        <a href="#" class="show-all-btn">Смотреть все работы</a>
    </div>
    <div class="ready-works-mob">
        <div class="content-mob">
            <p class="title">Готовые мебельные решения</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="filters-btn-wrp">
                <div class="filter-btn filter-btn-all active">Все</div>
                <div class="filter-btn filter-btn-cupboard">Шкафы</div>
                <div class="filter-btn filter-btn-kitchen">Кухни</div>
            </div>
        </div>
        <div class="swiper-items-block">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-1.png" alt="">
                        <div class="ready-slider-text-block">
                            <p class="name"><span>Кухня «Валенсия»</span></p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../build/img/mobile/item-mob-slide-2.png" alt="">
                        <div class="ready-slider-text-block">
                            <p class="name"><span>Шкаф-купе «Манго»</span></p>
                            <p class="price">22 200 p</p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-items-next"></div>
            <div class="swiper-button-prev btn-mob-items-prev"></div>
        </div>
        <a href="#" class="show-all-btn">Смотреть все готовые решения</a>
    </div>
    <div class="we-work-mob">
        <div class="content-mob">
            <p class="title">Как мы работаем</p>
        </div>
        <div class="swiper-work-block">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Звонок менеджеру</p>
                                <p class="text">Позвоните менеджеру или закажите обратный звонок на сайте, договоритесь о времени замера удобного для вас</p>
                                <p class="btn-open-consult-mob btn-consultation">Заказать звонок</p>
                            </div>
                            <div class="rhombus">
                                <p>01</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Замер</p>
                                <p class="text">Бесплатно к вам выедет дизайнер, выполнит точный замер и&nbsp;проконсультирует о&nbsp;дизайне</p>
                            </div>
                            <div class="rhombus">
                                <p>02</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Эскиз</p>
                                <p class="text">Отрисовка по вашим размерам эскиза и его утверждение</p>
                            </div>
                            <div class="rhombus">
                                <p>03</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Расчет</p>
                                <p class="text">Расчет заказа, предоплата, составление договора</p>
                            </div>
                            <div class="rhombus">
                                <p>04</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Производство</p>
                                <p class="text">Используем только современное оборудование и качественные материалы</p>
                            </div>
                            <div class="rhombus">
                                <p>05</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Доставка</p>
                                <p class="text">Доставка и подъем на этаж</p>
                            </div>
                            <div class="rhombus">
                                <p>06</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Установка</p>
                                <p class="text">Аккуратно и качественно установим, уберем за собой мусор</p>
                            </div>
                            <div class="rhombus">
                                <p>07</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Оплата</p>
                                <p class="text">Доплата оставшейся суммы по&nbsp;договору</p>
                            </div>
                            <div class="rhombus">
                                <p>08</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="decor-text-block">
                            <div class="text-block">
                                <p class="subtitle">Гарантия</p>
                                <p class="text">Бесплатно предоставляется наша гарантия на 24 месяца</p>
                            </div>
                            <div class="rhombus">
                                <p>09</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next btn-mob-text-next"></div>
            <div class="swiper-button-prev btn-mob-text-prev"></div>
        </div>
    </div>
    <div class="profitable-mob">
        <div class="content-mob">
            <p class="title">Почему с нами выгодно работать</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="reasons-wrp">
                <div class="reason-block">
                    <div class="sprite sprite-cogwheel"></div>
                    <p>Собственное производство</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-check"></div>
                    <p>Контроль качества <br> всей продукции</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-money"></div>
                    <p>На 30% дешевле <br> чем у конкурентов</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-quality"></div>
                    <p>Гарантия 24 месяца <br> на всю продукцию</p>
                </div>
                <div class="reason-block sprite-clock">
                    <div class="sprite sprite-clock"></div>
                    <p>Работаем 24/7 <br> без выходных</p>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-mob-block">
        <div class="content-mob">
            <div class="calendar-substrate">
                <p class="title">Бесплатный вызов замерщика</p>
                <p>Выберите удобную дату бесплатного замера, заполните форму и ожидайте звонка менеджера</p>
                <div class="calendar-wrp">calendar</div>
                <p>Вы выбрали: <span class="calendar-date">12 ноября</span></p>
                <p>Кол-во доступных замеров: <span class="calendar-number">7</span></p>
            </div>
            <div class="form-block">
                <form action="" class="order-form">
                    <p class="form-subitle">Как Вас зовут?</p>
                    <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                    <p class="form-subitle">Номер телефона</p>
                    <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                    <p class="form-subitle">Желаемое время</p>
                    <input class="form-input form-input-time" type="text" placeholder="00:00" name="user-time" value="">
                    <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
                </form>
                <p class="warning">Нажимая кнопку «Отправить», я даю согласие <br>на <a href="#">обработку своих персональных данных</a></p>
            </div>
        </div>
    </div>
    <div class="gift-block-mob">
        <div class="content-mob">
            <p class="title">Получите подарок, оформив заказ <br> <span>этой осенью</span></p>
            <p>Впишите свое имя и номер телефона и&nbsp;дождитесь звонка менеджера. В&nbsp;зависимости от заказа менеджер сообщит Ваш подарок.</p>
            <div class="form-block">
                <form action="" class="order-form">
                    <p class="form-subitle">Как Вас зовут?</p>
                    <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                    <p class="form-subitle">Номер телефона</p>
                    <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                    <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
                </form>
                <p class="warning">Нажимая кнопку «Отправить», я даю согласие <br>на <a href="#">обработку своих персональных данных</a></p>
            </div>
        </div>
    </div>
</section>
