<section class="main">
    <div class="content">
        <div class="first-block">
            <div class="title-block">
                <h1>Шкафы и кухни <br>на заказ</h1>
                <p>Работаем без посредников с ценами <br>на 30% ниже, чем у конкурентов</p>
                <div class="btn-order gold-gradient">Заказать индивидуальный замер</div>
            </div>
            <div class="swiper-block">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../build/img/swiper/img-1.png" alt="">
                            <div class="slider-text-block-wrp">
                                <div class="slider-text-block">
                                    <p class="slider-text-title">Цена данной позиции</p>
                                    <p class="slider-text">У конкурента  <span>12 200 р.</span></p>
                                    <p class="slider-text">Наша цена  <span>8 200 р.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../build/img/swiper/img-2.png" alt="">
                            <div class="slider-text-block-wrp">
                                <div class="slider-text-block">
                                    <p class="slider-text-title">Цена данной позиции</p>
                                    <p class="slider-text">У конкурента  <span>12 200 р.</span></p>
                                    <p class="slider-text">Наша цена  <span>8 200 р.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../build/img/swiper/img-1.png" alt="">
                            <div class="slider-text-block-wrp">
                                <div class="slider-text-block">
                                    <p class="slider-text-title">Цена данной позиции</p>
                                    <p class="slider-text">У конкурента  <span>12 200 р.</span></p>
                                    <p class="slider-text">Наша цена  <span>8 200 р.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../build/img/swiper/img-2.png" alt="">
                            <div class="slider-text-block-wrp">
                                <div class="slider-text-block">
                                    <p class="slider-text-title">Цена данной позиции</p>
                                    <p class="slider-text">У конкурента  <span>12 200 р.</span></p>
                                    <p class="slider-text">Наша цена  <span>8 200 р.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="second-block">
            <div class="order-block">
                <div class="form-wrp">
                    <form action="" class="order-form">
                        <p class="form-subitle">Как Вас зовут?</p>
                        <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                        <p class="form-subitle">Номер телефона</p>
                        <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                        <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
                    </form>
                </div>
                <p class="warning">Нажимая кнопку «Отправить», я даю согласие <br>на <a href="#">обработку своих персональных данных</a></p>
            </div>
            <div class="countdown-block">
                <p class="title">Получите бесплатную <br>доставку и монтаж</p>
                <p>Заполните заявку сейчас и ожидайте звонка менеджера.</p>
                <p>Он зафиксирует данную акцию за Вами</p>
                <p class="countdown-title">Предложение действует</p>
                <div class="countdown"></div>
            </div>
        </div>
        <div class="third-block">
            <p class="title">Наши работы</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="items-wrp">
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Кухня «Валенсия»</p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Шкаф-купе «Анигиляция»</p>
                        <p class="item-price">8 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Кухня «Мадрид»</p>
                        <p class="item-price">18 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Шкаф" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Кухня «Валенсия»</p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item2.png" alt="Шкаф" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Шкаф-купе «Анигиляция»</p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item3.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block">
                        <p class="item-name">Кухня «Мадрид»</p>
                        <p class="item-price">18 200 р.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-show-all">Смотреть все работы</a>
        </div>
        <div class="fourth-block">
            <p class="title">Готовые Мебельные решения</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="filters-btn-wrp">
                <div class="filter-btn filter-btn-all active">Все</div>
                <div class="filter-btn filter-btn-cupboard">Шкафы-купе</div>
                <div class="filter-btn filter-btn-kitchen">Кухни</div>
            </div>
            <div class="items-wrp">
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item new-item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item new-item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img-block">
                        <img src="../../build/img/items/item1.png" alt="Кухня" class="item-img">
                        <div class="hover-layer">
                            <p>Посмотреть</p>
                        </div>
                    </div>
                    <div class="item-text-block-ready">
                        <p class="item-name"><span>Шкаф-купе «Манго»</span></p>
                        <p class="item-price">22 200 р.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-show-all">Смотреть все готовые решения</a>
        </div>
    </div>
    <div class="fifth-block">
        <div class="content">
            <p class="title">Как мы работаем</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="decor-blocks-wrp">
                <div class="decor-block">
                    <div class="rhombus">
                        <p>01</p>
                    </div>
                    <p class="subtitle">Звонок менеджеру</p>
                    <p>Позвоните менеджеру или закажите обратный звонок на сайте, договоритесь о времени замера удобного для вас</p>
                    <p class="btn-consultation">Заказать звонок</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>02</p>
                    </div>
                    <p class="subtitle">Замер</p>
                    <p>Бесплатно к вам выедет дизайнер, выполнит точный замер и проконсультирует о&nbsp;дизайне</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>03</p>
                    </div>
                    <p class="subtitle">Эскиз</p>
                    <p>Отрисовка по вашим размерам эскиза и его утверждение</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>06</p>
                    </div>
                    <p class="subtitle">Доставка</p>
                    <p>Доставка и подъем на этаж</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>05</p>
                    </div>
                    <p class="subtitle">Производство</p>
                    <p>Используем только современное оборудование и&nbsp;качественные материалы</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>04</p>
                    </div>
                    <p class="subtitle">Расчет</p>
                    <p>Расчет заказа, предоплата, составление договора</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>07</p>
                    </div>
                    <p class="subtitle">Установка</p>
                    <p>Аккуратно и качественно установим, уберем за собой мусор</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>08</p>
                    </div>
                    <p class="subtitle">Оплата</p>
                    <p>Доплата оставшейся суммы по&nbsp;договору</p>
                </div>
                <div class="decor-block">
                    <div class="rhombus">
                        <p>09</p>
                    </div>
                    <p class="subtitle">Гарантия</p>
                    <p>Бесплатно предоставляется наша гарантия на 24 месяца</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sixth-block">
        <div class="content">
            <p class="title">Почему с нами выгодно работать</p>
            <div class="title-decor-wrp">
                <div class="title-decor"></div>
            </div>
            <div class="reasons-wrp">
                <div class="reason-block">
                    <div class="sprite sprite-cogwheel"></div>
                    <p>Собственное производство</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-check"></div>
                    <p>Контроль качества <br> всей продукции</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-money"></div>
                    <p>На 30% дешевле <br> чем у конкурентов</p>
                </div>
                <div class="reason-block">
                    <div class="sprite sprite-quality"></div>
                    <p>Гарантия 24 месяца <br> на всю продукцию</p>
                </div>
                <div class="reason-block sprite-clock">
                    <div class="sprite sprite-clock"></div>
                    <p>Работаем 24/7 <br> без выходных</p>
                </div>
            </div>
        </div>
    </div>
    <div class="seventh-block">
        <div class="content">
            <div class="calendar-substrate">
                <div class="top-block">
                    <div class="calendar-description">
                        <p class="calendar-title">Бесплатный<br> вызов замерщика</p>
                        <p class="calendar-paragraph">Выберите удобную дату бесплатного замера, заполните форму и ожидайте звонка менеджера</p>
                        <p>Вы выбрали: <span class="calendar-date">12 ноября</span></p>
                        <p>Кол-во доступных замеров: <span class="calendar-number">7</span></p>
                    </div>
                    <div class="calendar-wrp">
                        <p>calendar template</p>
                    </div>
                </div>
                <div class="bottom-block">
                    <form class="order-form">
                        <div class="input-wrp">
                            <p class="form-subitle">Как Вас зовут?</p>
                            <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                        </div>
                        <div class="input-wrp">
                            <p class="form-subitle">Номер телефона</p>
                            <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="input-wrp input-wrp-time">
                            <p class="form-subitle">Желаемое время</p>
                            <input class="form-input form-input-time" type="text" placeholder="00:00" name="user-time" value="">
                        </div>
                        <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="review-block">
            <div class="right">
                <p class="title">Отзывы наших клиентов</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-hat">
                                <img src="../../build/img/avatar.png" alt="avatar" class="avatar">
                                <div class="hat-text">
                                    <p>Романов Дмитрий</p>
                                    <p>Шкаф-купе «Маного», 9 500 руб</p>
                                </div>
                            </div>
                            <p class="swiper-text">Сделали работу по моему эскизу, под мой бюджет подобрали фурнитуру и бесплатно провели доставку и монтаж. Что тут еще сказать :) Особенно спасибо за качественную резку материалов — нет сколов, клея или еще чего-то и за то, что убрали за собой все.</p>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-hat">
                                <img src="../../build/img/spears.jpg" alt="avatar" class="avatar">
                                <div class="hat-text">
                                    <p>Britney Spears</p>
                                    <p>Шкаф-купе «Маного», 9 500 руб</p>
                                </div>
                            </div>
                            <p class="swiper-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iusto nihil perspiciatis in sint inventore reprehenderit! Alias suscipit tempore ipsa, quas error, voluptate quo explicabo numquam ratione voluptatum labore voluptatem sint natus possimus illo. Aliquid!</p>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-hat">
                                <img src="../../build/img/benedict.jpg" alt="avatar" class="avatar">
                                <div class="hat-text">
                                    <p>Dr. Holms</p>
                                    <p>Шкаф-купе «Маного», 9 500 руб</p>
                                </div>
                            </div>
                            <p class="swiper-text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова которое переулка приставка рыбного сих, коварный города до вскоре своего путь свой решила заглавных.</p>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="gift-block">
            <p class="title">Получите подарок, <br>оформив заказ <span>этой осенью</span></p>
            <p>Впишите свое имя и номер телефона и дождитесь звонка менеджера. <br>В зависимости от заказа менеджер сообщит Ваш подарок.</p>
            <form action="" class="order-form">
                <div class="input-wrp">
                    <p class="form-subitle">Как Вас зовут?</p>
                    <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="user-name" value="">
                </div>
                <div class="input-wrp">
                    <p class="form-subitle">Номер телефона</p>
                    <input class="form-input form-input-phone" type="tel" name="user-phone" value="" placeholder="+7 (___) ___-__-__">
                </div>
                <input class="send-order-btn gold-gradient" type="submit" name="" value="Отправить">
            </form>
            <p class="warning">Нажимая кнопку «Отправить», я даю согласие на <a href="#">обработку своих персональных данных</a></p>
        </div>
    </div>
</section>
