<div class="pop-up-wrapper-mob-check">
    <!-- FILTERS -->
    <ul class="pop-up-filters">
        <li>
            <label class="radio">
                 <input name="radiobutton2" type="radio" checked="">
                 <div class="radio__text">Все</div>
              </label>
        </li>
        <li>
            <label class="radio">
                 <input name="radiobutton2" type="radio">
                 <div class="radio__text">Кухни</div>
            </label>
        </li>
        <li>
            <label class="radio">
                 <input name="radiobutton2" type="radio">
                 <div class="radio__text">Шкафы-купе</div>
            </label>
        </li>
    </ul>

    <!-- SORT -->
    <ul class="pop-up-sort">
        <li>
            <label class="radio">
                 <input name="radiobutton" type="radio" checked="">
                 <div class="radio__text">От дешевых к дорогим</div>
              </label>
        </li>
        <li>
            <label class="radio">
                 <input name="radiobutton" type="radio">
                 <div class="radio__text">От дорогих к дешевым</div>
            </label>
        </li>
    </ul>
</div>
