<div class="pop-up-wrapper">
    <!-- Manager's consultation -->
    <div class="pop-up-consult">
        <div class="pop-inner-send-order">
            <p class="title">Консультация менеджера</p>
            <p>Заполните форму и ожидайте звонка менеджера. <br> Он ответит на Ваши вопросы, сориентирует <br> по стоимости и согласует время выезда замерщика.</p>
            <form action="" class="order-form">
                <p class="form-subitle">Как Вас зовут?</p>
                <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="" value="">
                <p class="form-subitle">Номер телефона</p>
                <input class="form-input form-input-phone" type="tel" name="" value="" placeholder="+7 (___) ___-__-__">
                <input class="send-order-btn-pop-up gold-gradient" type="submit" name="" value="Отправить">
            </form>
            <p class="warning">Нажимая кнопку «Отправить», я даю согласие на <a href="#">обработку своих персональных данных</a></p>
        </div>
        <div class="pop-inner-thnx">
            <div class="thnx-content">
                <p class="title-thnx">Спасибо за обращение!</p>
                <p>В ближайшее время с Вами свяжется наш менеджер</p>
            </div>
        </div>
        <div class="btn-close-pop-up gold-gradient"></div>
    </div>
</div>
