<div class="collector">
    <div class="collectorName">Калькулятор стоимости мебели</div>
    <div class="collectorStepsIndicatorWrapper">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="collectorStepCounterName"></div>
    <div class="collectorStepActionName"></div>

    <div class="collectorStepsWrapper">
        <div class="collectorStep first-card">
            step1
        </div>
        <div class="collectorStep second-card">
            step2
        </div>
        <div class="collectorStep third-card">
            step3
        </div>
        <div class="collectorStep fourth-card">
            <div class="collectorDynamicContentWrapperStep4"></div>
            <div class="scrolls-wrp">
                <div class="scroll-wrp mCustomScrollbar chipboard-scroll">
                    <p class="scroll-title">Преимущества фасадов из ДСП</p>
                    <p class="description"></p>
                </div>
                <div class="scroll-wrp mCustomScrollbar glass-scroll">
                    <p class="scroll-title">Преимущества фасадов из стекла</p>
                    <p class="description"></p>
                </div>
                <div class="scroll-wrp mCustomScrollbar combined-scroll">
                    <p class="scroll-title">Преимущества комбинированных фасадов</p>
                    <div class="description">
                        <p></p>
                    </div>
                </div>
                <div class="scroll-wrp mCustomScrollbar MDF-scroll">
                    <p class="scroll-title">Преимущества фасадов из МДФ</p>
                    <div class="description">
                        <p><b>Экологичность.</b> МДФ изготавливается из натуральных древесных стружек без включения химических веществ, вредных для здоровья. Опасные соединения не выделяются даже в процессе нагревания материала, так как их просто нет в составе, стружка скрепляется природным клеем.</p>
                        <p><b>Безграничные дизайнерские возможности.</b> Мы осуществляем изготовление кухни из МДФ на заказ в любой цветовой гамме: от классических белых, зеленых и оранжевых до нестандартных фиолетовых, черных и прочих. В нашем каталоге представлены модели в классическом и hi-tech стиле, с закругленными формами и прямыми линиями, с открытыми и закрытыми шкафами. Также мы готовы разработать проект под ваши индивидуальные требования.</p>
                        <p><b>Повышенная износостойкость.</b> Мебельная фабрика «КаонСнаб» предлагает кухни с фасадами, покрытыми ПВХ-пленкой, эмалью и др. Материалы обеспечивают хорошие эксплуатационные характеристики мебели. Шкафы не меняют свой цвет под действием солнечных лучей, устойчивы к перепадам температуры – не расслаиваются и сохраняют форму долгое время.</p>
                        <p><b>Легкость в обслуживании. </b>МДФ не требует использования специальных чистящих средств, достаточно периодически протирать поверхность мыльным раствором.</p>
                    </div>
                </div>
                <div class="scroll-wrp mCustomScrollbar plastic-scroll">
                    <p class="scroll-title">Преимущества фасадов из пластика</p>
                    <div class="description">
                        <p>Кухни из пластика за счет использования новейших технологий производства обладают рядом неоспоримых достоинств.</p>
                        <p><b>Высокая прочность.</b> Корпуса мебели из пластика устойчивы к истиранию, впитыванию жира и запахов, образованию налета. Плотная многослойная структура материала обеспечивает высокую сопротивляемость любым повреждениям.</p>
                        <p><b>Стойкость к деформации.</b> Влагоотталкивающие свойства пластика, а также его высокая устойчивость к воздействию моющих средств исключают возможность разбухания каркаса мебели и провисания дверей.</p>
                        <p><b>Доступная цена.</b> В отличие от мебели из натуральных материалов, даже дизайнерская кухня из пластика будет стоить недорого.</p>
                        <p><b>Неограниченные возможности дизайна.</b> Прекрасная сочетаемость с другими материалами, многообразие цветовых решений и форм позволяет создавать самые оригинальные конструкции.</p>
                    </div>
                </div>
                <div class="scroll-wrp mCustomScrollbar membrane-scroll">
                    <p class="scroll-title">Преимущества фасадов из пленки ПВХ</p>
                    <div class="description">
                        <p><b>Стойкость к механическим повреждениям.</b> Слой пластика надежно предохраняет фасад кухни от сколов, царапин и ударов. Такую поверхность сложно повредить ножом, на нее можно ронять тяжелые вещи – это практически не отразится на ее блестящем внешнем виде.</p>
                        <p><b>Жаропрочность.</b> На пластиковые поверхности можно спокойно ставить горячие кастрюли и емкости со льдом. От этого они не потрескаются, не расслоятся и не покроются пятнами.</p>
                        <p><b>Широкая гамма цветовых решений.</b> Собираясь купить кухню из ПВХ, можно не переживать за то, насколько органично она будет смотреть в вашей квартире. Пластиковые фасады легко вписываются в любой интерьер, от классического оформления до футуристических мотивов. А возможность печати на них фотографий и других изображений сделает ваш гарнитур уникальным и неповторимым.</p>
                        <p><b>Высокая устойчивость к влаге, плесени, вредителям, солнечным лучам и бытовой химии.</b> Пластик не впитывает воду, не выгорает. Этот материал очень гигиеничен: ему не страшны насекомые, грибки и микроорганизмы, а любое загрязнение убирается с помощью губки и мыльной воды.</p>
                        <p><b>Длительный срок службы.</b> Прочность внешнего покрытия гарантирует беспроблемную эксплуатацию гарнитуров на протяжении многих лет. При этом уход за кухнями из ПВХ минимален.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="collectorStep form-block">
            <p class="form-subitle">Как Вас зовут?</p>
            <input class="nameInput form-input" type="text" placeholder="Иванов Иван Иванович" name="" value="">
            <p class="form-subitle">Номер телефона</p>
            <input class="phoneInput form-input" type="tel" placeholder="+7 (___) ___-__-__">
            <!-- <input class="phoneInput form-input form-input-phone" type="tel" placeholder="+7 (___) ___-__-__"> -->
            <div class="collectorSendBtn gold-gradient">Отправить</div>
            <p class="warning">Нажимая кнопку «Отправить», я даю согласие на <a href="#">обработку своих персональных данных</a></p>
        </div>
    </div>

    <div class="collectorNextStepBtn gold-gradient"><p>Перейти к следующему шагу</p></div>
    <div class="btn-close-pop-up gold-gradient"></div>
</div>
