<header>
    <div class="content">
        <div class="header">
            <div class="logo-block">
                <img src="../../build/img/logo.png" alt="logo" class="logo-img">
                <p>Шкафы<br>& Кухни</p>
            </div>
            <div class="contacts-block">
                <div class="phone-wrp">
                    <div class="ring">
                        <img src="../../build/img/call.svg" alt="phone" class="phone-img">
                    </div>
                    <p class="ring-text">8 (800) 800-80-80</p>
                </div>
                <div class="schedule-wrp">
                    <div class="ring">
                        <span>24/7</span>
                    </div>
                    <p class="ring-text">Без выходных</p>
                </div>
                <div class="btn-order-call btn-consultation">Заказать звонок</div>
            </div>
        </div>
    </div>
</header>
<header class="header-fixed">
    <div class="content">
        <div class="header">
            <div class="logo-block">
                <img src="../../build/img/logo.png" alt="logo" class="logo-img">
                <p>Шкафы<br>& Кухни</p>
            </div>
            <div class="contacts-block">
                <div class="phone-wrp">
                    <div class="ring">
                        <img src="../../build/img/call.svg" alt="phone" class="phone-img">
                    </div>
                    <p class="ring-text">8 (800) 800-80-80</p>
                </div>
                <div class="schedule-wrp">
                    <div class="ring">
                        <span>24/7</span>
                    </div>
                    <p class="ring-text">Без выходных</p>
                </div>
                <div class="btns-header-wrp">
                    <div class="btn-order-call btn-consultation">Заказать звонок</div>
                    <div class="btn-calc-value gold-gradient">Рассчитать стоимость</div>
                </div>
            </div>
        </div>
    </div>
</header>
