<header class="header-mob">
    <div class="logo-block">
        <img src="../../build/img/logo.png" alt="logo" class="logo-img">
        <p>Шкафы & Кухни</p>
    </div>
    <div class="contact-menu-block">
        <div class="btn-calc-value"></div>
        <img src="../../build/img/call.svg" alt="phone" class="phone-img">
        <div class="menu-burger-substrate">
            <div class="menu-burger-wrp">
                <div class="menu-burger"></div>
            </div>
        </div>
    </div>
</header>
<header class="header-mob header-mob-fixed">
    <div class="logo-block">
        <img src="../../build/img/logo.png" alt="logo" class="logo-img">
        <p>Шкафы & Кухни</p>
    </div>
    <div class="contact-menu-block">
        <div class="btn-calc-value"></div>
        <img src="../../build/img/call.svg" alt="phone" class="phone-img">
        <div class="menu-burger-substrate">
            <div class="menu-burger-wrp">
                <div class="menu-burger"></div>
            </div>
        </div>
    </div>
</header>
