<section class="contact">
    <div class="content">
        <div class="contacts-block">
            <h1>Контакты</h1>
            <div class="phone-mail-wrp">
                <div class="phone-mail phone">
                    <p>8 (800) 800 80 80</p>
                    <p>С 00:00 — до 00:00</p>
                </div>
                <div class="phone-mail mail">
                    <p>shkafikuhni77@mail.ru</p>
                    <a href="mailto:shkafikuhni77@mail.ru">Напишите нам на почту</a>
                </div>
            </div>
            <form action="" class="contact-form">
                <div class="inputs-wrp">
                    <div class="input-wrp">
                        <p class="form-subitle">Как Вас зовут?</p>
                        <input class="form-input" type="text" placeholder="Иванов Иван Иванович" name="" value="">
                    </div>
                    <div class="input-wrp">
                        <p class="form-subitle">Номер телефона</p>
                        <input class="form-input form-input-phone" type="tel" name="" value="" placeholder="+7 (___) ___-__-__">
                    </div>
                </div>
                <div class="input-wrp">
                    <p class="form-subitle">Комментарий</p>
                    <textarea class="form-input form-input-textarea" name="comment" rows="" cols=""></textarea>
                </div>
                <div class="btn-wrp gold-gradient">
                    <input class="send-order-btn " type="submit" name="" value="">
                </div>
            </form>
            <p class="copyright">© 2018 «Шкафы & Купе 77»</p>
        </div>
    </div>
    <div class="map-block"></div>
</section>
