<section class="product">
    <div class="content">
        <div class="product-content">
            <div class="img-block">
                <div class="swiper-container preview">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a data-fancybox="gallery" href="../../build/img/product/img1.png">
                                <img src="../../build/img/product/prev1.png" alt="Кухня">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a data-fancybox="gallery" href="../../build/img/product/img2.png"><img src="../../build/img/product/prev2.png" alt="Кухня"></a>
                        </div>
                        <div class="swiper-slide">
                            <a data-fancybox="gallery" href="../../build/img/product/img3.png"><img src="../../build/img/product/prev3.png" alt="Кухня"></a>
                        </div>
                        <div class="swiper-slide">
                            <a data-fancybox="gallery" href="../../build/img/product/img4.png"><img src="../../build/img/product/prev4.png" alt="Кухня"></a>
                        </div>
                        <div class="swiper-slide">
                            <a data-fancybox="gallery" href="../../build/img/product/img5.png"><img src="../../build/img/product/prev5.png" alt="Кухня"></a>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination">
                        <div class="img-prev-wrp">
                            <img class="img-prev" src="../../build/img/product/prev1.png" alt="Кухня">
                            <div class="img-prev-overlay"></div>
                        </div>
                        <div class="img-prev-wrp">
                            <img class="img-prev" src="../../build/img/product/prev2.png" alt="Кухня">
                            <div class="img-prev-overlay"></div>
                        </div>
                        <div class="img-prev-wrp">
                            <img class="img-prev" src="../../build/img/product/prev3.png" alt="Кухня">
                            <div class="img-prev-overlay"></div>
                        </div>
                        <div class="img-prev-wrp">
                            <img class="img-prev" src="../../build/img/product/prev4.png" alt="Кухня">
                            <div class="img-prev-overlay"></div>
                        </div>
                        <div class="img-prev-wrp">
                            <img class="img-prev" src="../../build/img/product/prev5.png" alt="Кухня">
                            <div class="img-prev-overlay"></div>
                        </div>
                    </div>
                     <!-- Add Arrows -->
                    <div class="swiper-button-next btn-next"></div>
                    <div class="swiper-button-prev btn-prev"></div>
                  </div>
            </div>
            <div class="description-block">
                <p class="title">Кухня «Мадрид»</p>
                <p class="price">8200 руб, 12 м<sup>2</sup></p>
                <p>Двухдверный шкаф купе цвета махонь. Два зеркала в алюминиевых рамках производства Германии. Раздвижная система Slide Line</p>
                <div class="btn-consultation gold-gradient">Консультация менеджера</div>
                <a href="#">Следующая работа</a>
            </div>
        </div>
    </div>

</section>
